<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.machinehou.aspectjrtlib">

    <application android:allowBackup="true">
        <activity
            android:name=".AspectjrtActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>